#ccdiv {
    margin-top: 25px;
}

#canvasDiv {
    position: relative;
    width: 800px;
    height: 600px;
    background: #000000;
    border: 1px solid #303030;
    margin: auto;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#gameCanvas {
    z-index: 1;
}

#debugCanvas {
    z-index: 2;
}
